<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<style>
		body { background-color:lightblue; }
		.footer { font-weight: bold; color:blueviolet; background-color: lightblue; }
	    .sidecol { font-weight: bold; background-color:blueviolet; }
	    .sidecol h2 { font-weight: bold; }
	    .midcol h1 { text-align: center; font-weight: bold; }
	    .midcol h3 { text-align: center; color: steelblue; }
	    .redtext { color: red; }</style>
	<title>SPINITT</title>
    </head>
    <body>
		<nav class="navbar navbar-expand-sm bg-dark">
	    <div class="container-fluid">
			<div class="navbar-header ">
		    	<a class="navbar-brand" href="/shop/">SPINITT</a>
			</div>
			<ul class="navbar-nav">
				{% if request.user.is_authenticated %}
            	<li class="nav-item">
					<a class="nav-link" href="{% url 'products' %}">Products</a>
				</li>
		    	<li class="nav-item">
					<a class="nav-link" href="{% url 'signout' %}">Sign Out <i class="fas fa-sign-out-alt"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'order_history' %}">View Orders <i class="fas fa-sign-out-alt"></i></a>
				</li>
				{% else%}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'signup' %}">Sign Up <i class="fas fa-user-plus"></i></a>
				</li>
				<li>
					<a class="nav-link" href="{% url 'signin' %}">Sign In <i class="fas fa-sign-in-alt"></i></a>
				</li>
				{% endif %}
				{% if item_count > 0 %}
				<li class="nav-item">
			  		<a class="nav-link" href="{% url 'cart_detail' %}">
				  	<span class="glyphicon glyphicon-shopping-cart"></span>({{item_count}})</a>
				</li>
		  		{% endif %}
			</ul>
	    </div>
	</nav>

	<div class="container-fluid">
	    <div class="row">
		<div class="col-sm-3">
		    <div class="bg-primary p-2">
			<h2>News</h2>
			<h3 class="text-light">New products!</h3>
			<p><span class="text-light">Keep Up With The Latest Spinners
		    </div>
		</div>
		<div class="col-sm-6">
			<div class="">
                {% block content %}
                {% endblock content %}
		    </div>
		</div>
		<div class="col-sm-3">
		    <div class="bg-primary p-2">
			<h2>Events</h2>
			<h3 class="text-light">Coming Soon</h3>
			<p><span class="text-light">Stay Tuned, Keep Practising!</span></p>
		    </div>
		</div>
	    </div>
	    <div class="row">
		<div class="col-sm-12">
		    <div class="bg-dark footer">
			Website created by Karlo K. & Bilal M.
		    </div>
		</div>
	    </div>
	</div>
    </body>
</html>